*{
	padding: 0;
	margin: 0;
	border: 0;
}
body{
	background: rgba(215, 211, 211, 0.3);
	font-family: 'Poppins', sans-serif;

}

.contenedor{
	width: 90%;
	margin: 0 auto;
	max-width: 1524px;
	
	display: grid;
    grid-gap: 0px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, auto);

	grid-template-areas: "header  header header  header"
						 "slider slider slider slider"
						 "titulo titulo titulo titulo"
						 "adopta1 adopta1 adopta2 adopta2"
						 "doctor1 doctor2 doctor3 doctor4"	
						 "sponsor sponsor sponsor sponsor"
						 "footer footer footer footer";	
}
/*  --------------------------------------------  */
/*                    header                      */
/*  --------------------------------------------  */
.contenedor .cabeceraPrincipal{	
	grid-area: header;
	background-color: #B5EF8A;
	display: flex;
	justify-content: space-between;

}
.contenedor .cabeceraPrincipal .logotipo{
	padding: 15px 40px;
}
.contenedor .cabeceraPrincipal nav{
	display: flex;
	align-items: center;
}
.contenedor .cabeceraPrincipal nav a{
	text-decoration: none;
	padding: 0 20px;
	color: #65524D;
}
.contenedor .cabeceraPrincipal nav a:hover{
	background-color: #65524D;
	color: #fff;
}
/*  --------------------------------------------  */
/*                    slider                      */
/*  --------------------------------------------  */
.contenedor .sliderPrincipal{
	grid-area: slider;
	display: flex;
	background-color: #333;
	position: relative;
	display: inline-block;
}
.contenedor .sliderPrincipal img{
	width: 100%;
}
.contenedor .sliderPrincipal .frase  {
	position: absolute;
    background-color: #fff;
    padding: 0px 450px;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    opacity: 0.5;
    text-align: center;
}
.contenedor .sliderPrincipal .frase button {
	text-align: center;
    border-radius: 10px;
    background: #B5EF8A;
	padding: 15px 20px;
	color: #65524D;
	margin: 20px 10px;
	border: 5px;
	text-decoration: none;
	 cursor: pointer;
	}
	.contenedor .sliderPrincipal .frase button:hover {
	background-color: #5B8C21;
	color: #fff;

	}

/*  --------------------------------------------  */
/*                    Titulo                      */
/*  --------------------------------------------  */
.contenedor .titulo{
	grid-area: titulo;
	background-color: #fff;
	text-align: center;
}
.contenedor .titulo h2{
	color: #9C9B9B;
	font-size: 40px;
	font-weight: 300;
	padding: 30px 0;
}
/*  --------------------------------------------  */
/*                    Adopciones                     */
/*  --------------------------------------------  */
.contenedor .adopcion1{
	grid-area: adopta1;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
}
.contenedor .adopcion1 .cardog h3{
	font-size: 25px;
	color: #817E9F;
	text-transform: uppercase;
	padding: 5px 10px;
}
.contenedor .adopcion1 .cardog p{
	padding: 5px 10px;
	color: #605B5B;
}
.contenedor .adopcion1 .cardog button{
    text-align: center;
    border-radius: 10px;
    background: #B5EF8A;
	padding: 5px 20px;
	color: #65524D;
	margin: 20px 10px;
	border: 2px;
	cursor: pointer;
	}
.contenedor .adopcion1 .cardog button:hover{
    background-color: #5B8C21;
	color: #fff;
	}
.btn1-center{
    text-align: right;
	}

.contenedor .adopcion2{
	grid-area: adopta2;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
}
.contenedor .adopcion2 .cardog h3{
	font-size: 25px;
	color: #817E9F;
	text-transform: uppercase;
	padding: 5px 10px;
}
.contenedor .adopcion2 .cardog p{
	padding: 5px 10px;
	color: #605B5B;
}
.contenedor .adopcion2 .cardog button{
	border-radius: 10px;
	border: 2px;
	text-decoration: none;
    background: #B5EF8A;
    display: inline-block;
    padding: 5px 20px;
	color: #65524D;
    margin: 20px 10px;
    cursor: pointer;
	}
.contenedor .adopcion2 .cardog button:hover{
    background-color: #5B8C21;
	color: #fff;
	}
.btn2-center{
    text-align: right;
	}
/*  --------------------------------------------  */
/*                    doctores                    */
/*  --------------------------------------------  */
.contenedor .doctor1{
	grid-area: doctor1;
	background-color: #fff;
	text-align: center;
	padding: 0px 20px;

}
.contenedor .doctor1 .images{
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 20px 0px;

}
.contenedor .doctor1 .images .doc{
	position: absolute;
	top: 220px;
	left: 0%;
	color: #000000;
	text-align: left;
    padding: 0px 10px;

}

.contenedor .doctor1 .images .descripcion{
	color: #605B5B;
	position: absolute;
	top: 250px;
	left: 0%;
    text-align: left;
    padding: 0px 10px;

	}
.contenedor .doctor1 .doc {
	background-color: #fff;
    transform: translate(0px, 0px);  
    opacity: 0.6;
    
}
.contenedor .doctor1 .descripcion {
	background-color: #fff;
    transform: translate(0px, 0px);  
    opacity: 0.6;
    
}

/*  ---------------------Doctor2---------------  */
.contenedor .doctor2{
	grid-area: doctor2;
	background-color: #fff;
	text-align: center;
	padding: 0px 20px;
}
.contenedor .doctor2 .images{
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 20px 0px;
}
.contenedor .doctor2 .images .doc{
	position: absolute;
	top: 220px;
	left: 0%;
	color: #000000;
	text-align: left;
    padding: 0 10px;
}

.contenedor .doctor2 .images .descripcion{
	color: #605B5B;
	position: absolute;
	top: 250px;
	left: 0%;
    text-align: left;
    padding: 0 10px;
	}
.contenedor .doctor2 .doc {
	background-color: #fff;
    transform: translate(0px, 0px);  
    opacity: 0.6;
    
}
.contenedor .doctor2 .descripcion {
	background-color: #fff;
    transform: translate(0px, 0px);  
    opacity: 0.6;
    
}
	/*  ---------------------Doctor3---------------  */
.contenedor .doctor3{
	grid-area: doctor3;
	background-color: #fff;
	text-align: center;
	padding: 0px 20px;
}
.contenedor .doctor3 .images{
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 20px 0px;
}
.contenedor .doctor3 .images .doc{
	position: absolute;
	top: 220px;
	left: 0%;
	color: #000000;
	text-align: left;
    padding: 0 10px;
}

.contenedor .doctor3 .images .descripcion{
	color: #605B5B;
	position: absolute;
	top: 250px;
	left: 0%;
    text-align: left;
    padding: 0 10px;
	}
.contenedor .doctor3 .doc {
	background-color: #fff;
    transform: translate(0px, 0px);  
    opacity: 0.6;
    
}
.contenedor .doctor3 .descripcion {
	background-color: #fff;
    transform: translate(0px, 0px);  
    opacity: 0.6;
    
}
	/*  ---------------------Doctor4---------------  */
.contenedor .doctor4{
	grid-area: doctor4;
	background-color: #fff;
	text-align: center;
	padding: 0px 20px;
}
.contenedor .doctor4 .images{
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 20px 0px;
}
.contenedor .doctor4 .images .doc{
	position: absolute;
	top: 220px;
	left: 0%;
	color: #000000;
	text-align: left;
    padding: 0 10px;
}

.contenedor .doctor4 .images .descripcion{
	color: #605B5B;
	position: absolute;
	top: 250px;
	left: 0%;
    text-align: left;
    padding: 0 10px;
	}
.contenedor .doctor4 .doc {
	background-color: #fff;
    transform: translate(0px, 0px);  
    opacity: 0.6;
    
}
.contenedor .doctor4 .descripcion {
	background-color: #fff;
    transform: translate(0px, 0px);  
    opacity: 0.6;
    
}

/*  --------------------------------------------  */
/*                    sponsor                      */
/*  --------------------------------------------  */
.contenedor .sponsor{
	grid-area: sponsor;
	background-color: #333;
	display: flex;
	justify-content: space-between;	

}
.contenedor .sponsor .logo{
	display: block;
	margin: auto;
}
.contenedor .sponsor .escudo{
	display: block;
	margin: auto;
	padding: 10px 30px;
}
/*  --------------------------------------------  */
/*                    footer                      */
/*  --------------------------------------------  */
.contenedor .piePagina{
	grid-area: footer;
	background-color: #1B1B1B;
	display: flex;
	justify-content: space-between;
}

.piePagina .derechos{
	color: #A3A3A3;
	padding: 30px 50px;
}
.piePagina .redesSociales{
	display: flex;
	align-items: center;
}
.contenedor .piePagina .redesSociales a{
	color: #D7F171;
	text-decoration: none;
	padding: 0 15px;
	font-size: 35px;
}
.contenedor .piePagina .redesSociales a:hover{
	color: #fff;
}
/*  --------------------------------------------  */
/*              Contenido Main                    */
/*  --------------------------------------------  */
main{
	grid-area: slider;
	margin: 0 auto;
	width: 90%;
	padding: 2em 0;
}
main h2{
	color: #817E9F;
	font-size: 2em;
}
main p{
	color: #605050;
	font-size: 1em;
	line-height: 20px;
}

/*  --------------------------------------------  */
/*              Formulario                    */
/*  --------------------------------------------  */
.grupoInput{
	padding: 10px;
}
.grupoInput label{
	display: block;
}
.grupoInput input[type=text], input[type=email], input[type=number], input[type=text], input[type=date]{
width: 90%;
padding: 15px;
border-radius: 5;
}
.boton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;

}
button:hover{
	background-color: #3C8F40;

}
.btn-center{
    text-align: center;
}

/*  --------------------------------------------  */
/*              Personalizado                    */
/*  --------------------------------------------  */
.alerta{
	color: #FF0000;
}